---
import Navbar from '../components/Navbar.astro'
import Home from './home.astro'
import Footer from '../components/Footer.astro'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Blog Node</title>
	</head>
	<body class="md:px-10 bg-[F6F6F6] text-[#ffb941]">
		<Navbar />
		<Home />
		<Footer />
	</body>
</html>