---
---

<html lang="en" class="dark">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Pms</title>
	</head>
	<body class="p-5 dark:bg-slate-900">
		<div class="nav flex items-center">
			<h1 class="text-2xl text-white mr-auto">Project Management <span class="line-through">System</span> Sucks</h1>
			<ul>
				<li>
					
				</li>
				<li>
					<a href="https://github.com/JammUtkarsh/pms">
						<img src="/github-mark.svg" alt="" class="w-8 hover:bg-white rounded-full border-black">
					</a>
				</li>
			</ul>
		</div>
		<main class="mt-10 text-center text-white p-2 flex flex-col">
			<p>A CLI tool to manage all your project and directly access your code editor</p>
			<h2>
				Just
			</h2>
			<code>
				pms add 
			</code>
		</main>
	</body>
</html>