<body class="p-5 bg-slate-300">
    <a href="/" class="hover:text-blue-500">Home</a>
    <a href="/about/"></a>

    <h1 class="text-2xl">This is About Me</h1>
    <h3 class="text-sm">This is made using Astro</h3>

    <p>Hey, This is Rajeev Krishna I am front-end Developer and I love developing this. Even I like to design and implement things. 
        <br>
        <code>print("This is Rajeev")</code>
        <br>
        The Tools I use are
        <ul class="pl-5 list-disc">
            <li>VS Code</li>
            <li>Figma</li>
            <li>Webflow</li>
        </ul>
    </p>
</body>