---
import Twitter from '/images/icons8-twitter.gif'
import Instagram from '/images/icons8-instagram.gif'
import Facebook from '/images/icons8-facebook.gif'
import Twitch from '/images/icons8-twitch.gif'
---

<div class="footer text-center py-5">
    <div class="footer-links flex items-center justify-evenly py-5">
        <div class="list-1">
            <h1 class="text-left text-xl font-bold">News</h1>
            <ul class="text-left">
                <li>Technology</li>
                <li>Business</li>
                <li>Politics</li>
            </ul>
        </div>
        <div class="list-2">
            <h1 class="text-left text-xl font-bold">Jobs</h1>
            <ul class="text-left">
                <li>Design</li>
                <li>Marketing</li>
                <li>Management</li>
            </ul>
        </div>
        <div class="list-3">
            <h1 class="text-left text-xl font-bold">Events</h1>
            <ul class="text-left">
                <li>Webinars</li>
                <li>Workshops</li>
                <li>Conferences</li>
            </ul>
        </div>
    </div>
    <div class="footer-icon py-5">
        <ul class="mt-5 flex justify-center gap-5">
            <li>
                <img src={Twitter} alt="" class="w-6">
            </li>
            <li>
                <img src={Instagram} alt="" class="w-6">
            </li>
            <li>
                <img src={Facebook} alt="" class="w-6">
            </li>
            <li>
                <img src={Twitch} alt="" class="w-6">
            </li>
        </ul>
    </div>
    <h2 class="py-2 font-bold">All rights reserved, Blog Node 2023.</h2>
</div>