---
import Style from "./style.astro";
---

<div class="nav p-5 flex items-center justify-between text-[#ffb941]">
	<h1 class="lg:pl-0 text-4xl font-bold">
		<a href="/">
			<Style Title="Blog Node" />
		</a>
	</h1>
	<ul class="lg:flex gap-10 lg:visible hidden font-semibold">
		<li>
			<a href="/" class="hover:text-yellow-400">Home</a>
		</li>
		<li>
			<a href="/news" target="_parent" class="hover:text-yellow-400">News</a>
		</li>
		<li>
			<a href="/job" target="_parent" class="hover:text-yellow-400">Jobs</a>
		</li>
		<li>
			<a href="/event" target="_parent" class="hover:text-yellow-400">Events</a>
		</li>
	</ul>
</div>

