<body>
    <a href="/">Home</a>
    <a href="/about/"></a>

    <h1>This is About Me</h1>
    <h3>This is made using Astro</h3>

    <p>Hey👋, This is Rajeev Krishna I am front-end Developer and I love developing this. Even I like to design and implement things 
        <code>print("This is Rajeev")</code>
        <br>
        The Tools I use are
        <ul>
            <li>VS Code</li>
            <li>Figma</li>
            <li>Webflow</li>
        </ul>
    </p>
</body>